body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
nav {
    background-color: #242424;
    padding: 10px;
}
/* Add more styles as needed */
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #242424;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #333333;
}
