.time-container {
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    animation: fadeIn 2s;
}
.time{
    color: red;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
